$_clr-white: hsl(0 0% 100%);
$_clr-gray-200: hsl(0 0% 91%);
$_clr-gray-600: hsl(0 0% 42%);
$_clr-gray-800: hsl(0 0% 25%);

$_clr-navy-blue-100: hsl(213 47% 96%);
$_clr-navy-blue-200: rgb(209, 217, 230);
$_clr-navy-blue-400: hsl(218 48% 38%);
$_clr-navy-blue-700: hsl(218 36% 23%);


$_clr-teal-200: hsl(168 98% 81%);
$_clr-teal-300: hsl(168 96% 51%);
$_clr-teal-400: hsl(168 100% 41%);
$_clr-teal-700: hsl(168 80% 19%);

$_clr-yellow-100: hsl(36 100% 86%);
$_clr-yellow-400: hsl(36 80% 65%);
$_clr-yellow-700: hsl(36 77% 30%);

$_clr-pink-100: hsl(340 81% 84%);
$_clr-pink-400: hsl(340 68% 63%);
$_clr-pink-700: hsl(340 76% 27%);

$_clr-blue-100: rgb(159, 232, 254);
$_clr-blue-400: hsl(194 64% 53%);
$_clr-blue-700: hsl(195 69% 27%);

$colors: (
  'neutral': (
    '100': $_clr-white,
    '200': $_clr-gray-200,
    '600': $_clr-gray-600,
    '800': $_clr-gray-800,
  ),
  'primary': (
    '100': $_clr-navy-blue-100,
    '200': $_clr-navy-blue-200,
    '400': $_clr-navy-blue-400,
    '700': $_clr-navy-blue-700,
  ),
  'accent': (
    '200': $_clr-teal-200,
    '300': $_clr-teal-300,
    '400': $_clr-teal-400,
    '700': $_clr-teal-700,
  ),
  'extra-1': (
    '100': $_clr-yellow-100,
    '400': $_clr-yellow-400,
    '700': $_clr-yellow-700,
  ),
  'extra-2':(
    '100': $_clr-pink-100,
    '400': $_clr-pink-400,
    '700': $_clr-pink-700,
  ),
  'extra-3': (
    '100': $_clr-blue-100,
    '400': $_clr-blue-400,
    '700': $_clr-blue-700,
  ),
);

$light: (
  'neutral': (
    '100': $_clr-white,
    '200': $_clr-gray-200,
    '600': $_clr-gray-600,
    '800': $_clr-gray-800,
  ),
);

$dark: (
  'primary': (
    '100': $_clr-navy-blue-100,
    '200': $_clr-navy-blue-200,
    '400': $_clr-navy-blue-400,
    '700': $_clr-navy-blue-700,
  ),
);

$sleek: (
  'extra-1': (
    '100': $_clr-yellow-100,
    '400': $_clr-yellow-400,
    '700': $_clr-yellow-700,
  )
);

//color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-600: var(--neutral-600);
$color-neutral-800: var(--neutral-800);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-400: var(--primary-400);
$color-primary-700: var(--primary-700);

$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-700: var(--accent-700);


$color-extra-1-100: var(--extra-1-100);
$color-extra-1-400: var(--extra-1-400);
$color-extra-1-700: var(--extra-1-700);

$color-extra-2-100: var(--extra-2-100);
$color-extra-2-400: var(--extra-2-400);
$color-extra-2-700: var(--extra-2-700);

$color-extra-3-100: var(--extra-3-100);
$color-extra-3-400: var(--extra-3-400);
$color-extra-3-700: var(--extra-3-700);