@use 'sizes' as *;
@use 'colors' as *;
@use 'typography' as *;

// THEME
$active-theme: $light;
$enable-media-query-dark-mode: false;

// LAYOUT
$grid-gap: $size-6;
$grid-gap-large: $size-8;
$grid-column-gap: 7.5rem;
$grid-row-gap-1: $size-1-5;
$grid-row-gap-2: $size-2;
$grid-row-gap-3: $size-3;

$flex-group-gap-small: $size-0;
$flex-group-gap-large: $size-6;
$flex-group-gap: $size-5;

$hero-padding-block: clamp(9rem, 15vh, 12rem);
$section-padding-block: clamp(6rem, 12vh, 8rem);

$card-body-padding: clamp(1rem, 3.5vh, 2.4rem);
$card-body-padding-sm: $size-8;

$container-min-margin-inline: $size-1;
$container-max-width: 101.4rem;
$container-max-width-narrow: 98rem;
$container-max-width-extra-narrow: 68rem;
$container-max-width-wide: 112rem;


// COLORS
$color-text-default: $color-neutral-600;
$color-text-interactive-default: $color-primary-400;
$color-text-interactive-hover: $color-accent-700;
$color-background-default: $color-neutral-100;

// border-radius
$border-radius-1: $size-0;
$border-radius-2: 100vh;


// TYPOGRAPHY
$letter-spacing-loose: 0.16em;

$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-text-color-blue-background: $color-neutral-800;

$body-background-color: $color-background-default;

// headings
$heading-font-family: $font-family-accent;
$heading-color-default: $color-primary-700;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: none;
$heading-line-height: 1;
$heading-text-transform: none;

// links
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

// COMPONENTS

// header
$header-justify-content: space-between;
$header-padding-block: 4rem;
$header-background-color: $color-primary-100;

// nav
$nav-items-gap: $flex-group-gap-large;


// buttons
$button-font-family: inherit;
$button-font-size: $body-font-size;
$button-text-transform: none;
$button-font-weight-bold: $font-weight-default;
$button-padding: .9rem 1.8rem;
$button-border: 0;
$button-border-radius: .4rem;

// button primary colors
$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-400;
// hover
$button-primary-color-hover: $color-primary-700;
$button-primary-background-hover: $color-extra-3-100;
// button accent colors
$button-accent-color: $color-primary-700;
$button-accent-background: $color-accent-400;
// hover
$button-accent-color-hover: $button-accent-color;
$button-accent-background-hover: $color-accent-200;

// Button no background color
$button-link-color: $color-primary-400;
$button-link-background: transparent;

//hover
$button-link-background-hover:$color-neutral-200;
$button-link-color-hover: $button-link-color;

// cards
$card-flow-spacing: $size-2;
$card-body-padding: $size-1-5;
$card-background-default: $color-primary-100;
$card-color-default: $color-primary-700;
$card-font-family: $font-family-accent;
$card-line-height: 2.5;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-400;
$card-border-radius: 1.2rem;