$ff-sans-1: 'Inter', sans-serif;
$ff-sans-2: 'Montserrat', sans-serif;

$font-family-base: $ff-sans-1;
$font-family-accent: $ff-sans-2;


$font-sizes: (
  'large': (
    '900': 5.6rem,
    '800': 4.2rem,
    '700': 3.6rem,
    '600': 3.2rem,
    
    // ALL SCREENS
    '500': 2.4rem,
    '400': 1.8rem,
    '300': 1.6rem,
    '200': 1.4rem,
  ),
  'medium': (
    '900': 5.6rem,
    '800': 4.2rem,
    '700': 3.6rem,
    '600': 3.2rem,
    
    // ALL SCREENS
    '500': 2.4rem,
    '400': 1.8rem,
    '300': 1.6rem,
    '200': 1.4rem,
    ),
    'small': (
      '900': 4.2rem,
      '800': 3.6rem,
      '700': 3.6rem,
      '600': 2.8rem,
      
      // ALL SCREENS
      '500': 2.4rem,
      '400': 1.8rem,
      '300': 1.6rem,
      '200': 1.4rem,
    ),
);

// Font Family


// Font-sizes
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);

$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

// font-weights
$_fw-400: 400;
$_fw-700: 700;

$font-weight-default: $_fw-400;
$font-weight-bold: $_fw-700;
