@use "../abstracts" as *;

#about-us {
  padding-block-start: $size-1;
  padding-block-end: 0;
  --grid-gap: #{$grid-gap-large};

  .btn--accent {
    justify-self: left;
  }

  .container .grid{
    --grid-gap: #{$size-5};
  }

  .img-container {
    background-color: #cfd9ea;
    border-top-left-radius: $border-radius-2;
    border-top-right-radius: $border-radius-2;
    justify-self: end;
  }
}
