@use '../abstracts/' as *;

#benefits{
    .heading-secondary{
        margin-block-end: $size-1-5;
    }

    img{
        background: #CFD9EA;
        object-fit: cover;
    }

    @include mq(small){
        padding-block-start: 0;
        background-color: $color-neutral-100;

        img {
            width: 80%;
            justify-self: center;
        }

        .content{
            grid-row: 1;
        }
    }
}