@use "../abstracts/" as *;

.features-benefits {
  & .even-columns {
    gap: 9rem;
  }

  p span {
    font-weight: $font-weight-semibold;
  }

  &__list {
    max-width: 500rem;
    font-family: $font-family-accent;
    font-size: $font-size-600;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $color-primary-100;
    padding-block-end: 2.8rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: $size-2;
    align-items: center;

    .icon {
      fill: currentColor;
      flex-shrink: 0;
    }

    // Benefits active item
    &[data-active="true"] {
      font-weight: $font-weight-semibold;

      .icon {
        fill: $color-accent-300;
        stroke: none;
      }
    }
    //
  }
}
