@use '../abstracts/' as *;

.footer {
  --justify-content: center;
  background-color: $color-neutral-100;
  color: $color-neutral-600;
  text-align: center;
  padding-block: $size-1-5;

  .nav{
    --padding: #{$size-1-5};
    margin-block-end: var(--padding);
    padding-block-end: var(--padding);
    border-bottom: 1px solid $color-neutral-200;
  }

  p {
    font-size: $font-size-200;
    color: $color-neutral-600;
  }
}