@use "../abstracts/" as *;

.hero {
    padding-block: $hero-padding-block;

  .content {
    display: grid;
    row-gap: $grid-row-gap-1;
  }

  .flex-group {
    --flex-column-gap: #{$flex-group-gap-small};
  }

  .image-container{
    height: 100%;
    
  }

  img {
    border-radius: $border-radius-1;
    height: 100%;
    object-fit: cover;
  }

  @include mq(medium) {
    --justify-content: center;
    justify-items: center;
  }
}

#how-we-work{
  
 &.hero{
  text-align: center;
 }
 & img{
  height: 51rem;
  width: 100%;
  object-fit: cover;
 }
}