@use '../abstracts' as *;

.even-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--grid-gap, $grid-gap);
  align-items: center;

  @include mq(43.75em) {
    grid-auto-flow: row;
  }
}
