@use '../abstracts/' as *;

.nav {
  &__list {
    --flex-column-gap: #{$nav-items-gap};
    list-style: none;
    font-family: $body-font-family;
  }

  &__item {
    a {
      text-decoration: none;
      color: $body-text-color-blue-background;
    }
    &:is(:focus, :hover) {
      text-decoration: underline;
      color: $color-primary-700;
    }
  }
}