@use "../abstracts/" as *;

.nav {
  &__list {
    --flex-column-gap: #{$nav-items-gap};
    list-style: none;
    font-family: $body-font-family;
  }

  &__item {
    a {
      text-decoration: none;
      color: $body-text-color-blue-background;
    }
    &:is(:focus, :hover) {
      text-decoration: underline;
      color: $color-primary-700;
    }
  }

  @include mq(medium) {
    --flex-row-gap: 3.2rem;
    color: red;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    transition: all .4s ease-in;

    width: 100%;
    
    &__list {
      background-color: $header-background-color;
      flex-direction: column;
      padding-block-end: var(--flex-row-gap);
    }

    &[data-visible="true"]{
      display: block;
      left: 0;
      opacity: 1;
    }
  }
}

.mobile-nav-toggle{
  position: relative;
  --line-width: 3.5rem;
  --line-height: 4px;
  --line-color: #{$color-primary-400};
  --line-distance: 9px;
  --line-border-radius: 100vh;
  display: grid;
  gap: var(--line-distance);
  border-radius: var(--line-border-radius);
  border: 0;
  width: var(--line-width);
  height: var(--line-height);
  background-color: var(--line-color);
  
  &::before, &::after{
    position: absolute;
    content: '';
    display: block;
    width: var(--line-width);
    height: var(--line-height);
    background-color: var(--line-color);
    border-radius: var(--line-border-radius);
  }

  &::before{
    top: calc(var(--line-distance) * -1);
  }
  
  &::after{
    top: var(--line-distance);
  }

  display: none;

  @include mq(medium){
  display: block;
  }
}

