@use '../abstracts/' as *;

html {
	/* set font size on root to easly calculate rem units and to use reponsive design more effectively - 62.5% of 16px default font size is 10px - IE 7 and below does not support rem*/
	//1rem = 10px; 10px/16px = 62.5%
	font-size: 62.5%;

	// //width < 900? put the larger media queries before the smaller ones
	// @include respond(tablet-land) {
	// 	font-size: 56.25%; //1rem = 9px; 9/16 = 56.25%
	// }

	// //width < 600
	// @include respond(tablet-port) {
	// 	font-size: 50%; //1rem = 8px; 8/16 = 50%
	// }

	// @include respond(big-desktop) {
	// 	font-size: 75%; //1rem = 12, 12/16 = 75%
	// }
}


body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $color-text-default;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

a {
  color: $link-color;

  &:is(hover, focus) {
    color: $link-color-hover;
  }
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

section {
  padding-block: $section-padding-block;
}
